doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta name="description" content=""
    meta name="author" content=""

    title guptak.pl

    sass:
      body
        background-color: #000
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      b
        font-size: 150px
        text-align: center
        display: block
        padding: 0px
        margin: 0px

      p
        font-size: 35px
        font-family: verdana
        text-align: center
        padding: 15px

      .speech-bubble
        position: relative
        background: #ffffff
        border-radius: .4em

        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          width: 0
          height: 0
          border: 33px solid transparent
          border-top-color: #ffffff
          border-bottom: 0
          border-left: 0
          margin-left: 15px
          margin-bottom: -32px

  body
    p.speech-bubble Nie wiesz za co opier****ć?
    b 🐣
