doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta name="description" content=""
    meta name="author" content=""

    title guptak.pl

    sass:
      body
        background-color: #000
        position: absolute
        bottom: 0%
        width: 100%
        margin: 0

      #icon
        font-size: 150px
        text-align: center
        display: block
        padding: 0px
        margin: 0px
        cursor: pointer

      .content
        margin-left: auto
        margin-right: auto
        max-width: 800px

      .speech-bubble
        font-size: 35px
        font-family: verdana
        text-align: center
        padding: 15px
        margin: 15px
        position: relative
        background: #ffffff
        border-radius: .4em

        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          width: 0
          height: 0
          border: 33px solid transparent
          border-top-color: #ffffff
          border-bottom: 0
          border-left: 0
          margin-left: 15px
          margin-bottom: -32px

    javascript:
      window.addEventListener('load', (event) => {

        document.getElementById('icon').onclick = () => {
          var min = 1;
          var max = #{data.data.length - 1};
          var random = Math.floor(Math.random() * (max - min + 1) + min);
          window.location.href = '/' + random;
        };
      });

  body
    .content
      .speech-bubble
        = text(locals)
      #icon
        = icon(locals)
